@use './reset.scss';

:root {
  --color-surface: #fffbfe;
  --color-on-surface: #1c1b1f;
}

html,
body {
  background: var(--color-surface);
  color: var(--color-on-surface);
}

body {
  font-size: 15px;
  line-height: 1.6;
}
